* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

:root {
	--yellow: #f9de59;
	--orange: #e8a628;
	--pink: #f98365;
	--red: #c33124;
	--blue: #a1dffb;
}

.body {
	width: 100vw;
	height: 100vh;
}

.index__navbar {
	background-color: var(--red);
}

.menu__label {
	color: var(--yellow) !important;
	font-weight: bolder;
}

.menu__label:hover, .active {
	color: var(--orange) !important;
	font-weight: normal;
	border-bottom: 2px solid var(--blue);
}

.logo {
	width: 50px;
	margin-right: 5px;
}

.jumbotron__button {
	border: 2px solid var(--red);
	color: var(--red);
}

.jumbotron__button:hover {
	background-color: var(--red);
	border: 2px solid var(--pink);
	color: var(--blue);
}

.jumbotron {
	background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url("../images/jumbotron-background.jpg"););
	/*background-image: url("../images/index-background.jpg");*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 400px;
}

.lead {
	font-size: 0.95rem;
	font-style: italic;
}

#about .about {
	background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url("../images/about-bg1.jpg"););

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#about .vision {
	background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url("../images/about-bg2.jpg"););

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.footer {
	background-color: var(--red);
}

.footer__content {
	color: var(--yellow) !important;
}