* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

:root {
	--yellow: #f9de59;
	--orange: #e8a628;
	--pink: #f98365;
	--red: #c33124;
	--blue: #a1dffb;
}

.body {
	width: 100vw;
	height: 100vh;
}

.delCourse__navbar {
	background-color: var(--red);
}

.menu__label {
	color: var(--yellow) !important;
	font-weight: bolder;
}

.menu__label:hover, .active {
	color: var(--orange) !important;
	font-weight: normal;
	border-bottom: 2px solid var(--blue);
}

.jumbotron__button {
	border: 2px solid var(--red);
	color: var(--red);
}

.jumbotron__button:hover {
	background-color: var(--red);
	border: 2px solid var(--pink);
	color: var(--blue);
}

.logo {
	width: 50px;
	margin-right: 5px;
}

.container {
	height: 69vh;
}

.footer {
	background-color: var(--red);
}

.footer__content {
	color: var(--yellow) !important;
}