.body {
	width: 100vw;
	height: 100vh;
}

.register__navbar {
	background-color: var(--red);
}

.menu__label {
	color: var(--yellow) !important;
	font-weight: bolder;
}

.menu__label:hover, .active {
	color: var(--orange) !important;
	font-weight: normal;
	border-bottom: 2px solid var(--blue);
}

.jumbotron__button, .btn__register {
	border: 2px solid var(--red);
	color: var(--red);
	background-color: transparent;
}

.jumbotron__button:hover, .btn__register:hover {
	background-color: var(--red);
	border: 2px solid var(--pink);
	color: var(--blue);
}

.logo {
	width: 50px;
	margin-right: 5px;
}

.register .promo {
	background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url("../images/promotion.jpg"););
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}

#success-message {
	color: green;
}

#error-message {
	color: red;
}

.footer {
	background-color: var(--red);
}

.footer__content {
	color: var(--yellow) !important;
}